.footer {
      text-align: center;
      top: 585px;
      min-height: 80px;
      background: red;
      position: relative;
    }
    
    .footer span {
      color:black;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 3px;
      background: white;
    }